@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Split.js styles */
.split {
  display: flex;
  height: 100%;
}

.gutter {
  background-color: #edf2f7;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter-horizontal {
  cursor: col-resize;
  width: 4px;
}

.gutter-horizontal:hover {
  background-color: #90cdf4;
}

.gutter-vertical {
  cursor: row-resize;
  height: 4px;
}

.gutter-vertical:hover {
  background-color: #90cdf4;
}
